:root {
	--primary-color: #80c627;
	--secondary-color: #666666;
	--info-color: #80c6271a;
	--white-color: #fff;
	--font-family: "Asap", sans-serif;
	--primary-border-radius: 0.5rem;
	--secondary-border-radius: 0.8rem;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    height:100vw;
    width:100vh;
}

/*rank section*/

.name-field{
	font-size: 1.5rem;
	color: #bababa;
	padding: 1rem 2rem;
	border-radius: 0.5rem 0 0 0.5rem;
	outline: none;
	border: 1px solid var(--primary-color);
	background: transparent;
	height: 4.5rem;
}
.email-field{
	font-size: 1.5rem;
	color: #bababa;
	padding: 1rem 2rem;
	border-radius: 0.5rem 0 0 0.5rem;
	outline: none;
	border: 1px solid var(--primary-color);
	background: transparent;
	height: 4.5rem;
}


/*rank section*/

.container {
	width: 70%;
	margin: auto;
}

.flex-space-between {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.flex-space-around {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.flex-space-evenly {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.d-block{
	display:block;
}

.d-none{
	display:none;
}